@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/assistant-bold-webfont.woff2') format('woff2'),
         url('../fonts/assistant-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/assistant-light-webfont.woff2') format('woff2'),
         url('../fonts/assistant-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/assistant-regular-webfont.woff2') format('woff2'),
         url('../fonts/assistant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$family-serif: 'assistantregular',"robotoregular","Merriweather", "Georgia", serif;

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg #11387A 0%, #0C4DBD 100%);
    padding: 0;
    margin: 0;
    font-family: $family-serif;
    @media screen and (min-width: $tablet - 1px){
        padding-top: 96px !important;
    }

}

$red: #e00002;
$neutral: #fafafa;
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$fontAwesome: "Font Awesome 5 free";
$tablet: 769px !default;

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  z-index: 1;

  @media screen and (min-width: $tablet - 1px){
    display: none;
}
}
.menuButton {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: fixed;
    top: 16px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 5;
}
.fixedMainMenu {
    @media screen and (max-width: $tablet - 1px) {
        position: static;
        width:100%;
        top:0;
        left:0;
        z-index: 1;
     }
}
@media all and (display-mode: standalone) {
    body {
      background-color: #007dfa;
    }
  }

#root {
    @media screen and (max-width: $tablet - 1px) {
       padding-top: 0;
    }

    .home-wrapper{
        position:relative;
        width:100%;
    }

    .Toastify{
        position: fixed;
        z-index: 50;
    }

    form {
        label {
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            font-family: 'assistantbold';
            letter-spacing: 0.5px;
        }
        .field {
            + .field{
                margin-top:30px;
            }

            input[type="text"]{
                height:48px;
            }
        }

        .select, .select select:not([multiple]){
            width: 100%;
            height:48px;
        }

        .button{
            max-width: 100%;
            margin: 0 auto;
            display: block;
            min-width: 100%;
            float: none;
            height: 48px;
            border-radius: 6px;
            padding: 0;
            box-sizing: border-box;
            padding:0;
            background: #FF2D00;
            color: #ffffff;
            font-family: 'assistantBold';
            font-size: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .subtitle{
            text-align: center;
        }
    }
}

.icon {
    &.fas {
        font-family: $fontAwesome !important;
    }
}

.fa, .fab, .fad, .fal, .far, .fas{
    font-family: $fontAwesome !important;
}

// 3. Set the derived variables
// Use the new pink as the primary color

html {
    padding-top: 0!important;
}
.txtAs {
    position: absolute;
    top:50%;
    left:90px;
    transform: translateY(-50%);
}

.txtAd {
    padding: 40px;
}

.react-tiger-transition--container {
    @media screen and (max-width: $tablet - 1px){
        padding-top: 40px;
    }
}

html .navbar-anim {

    @media screen and (max-width: $tablet - 1px){
        position: static;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        z-index: 40;
      }

      .navbar-customMenu {


        @media screen and (min-width: $tablet - 1px){
        }

        @media screen and (max-width: $tablet - 1px){
            display: block;
            width: auto;
            padding: 0;
            z-index: 3;
            background: none;
            right: 0;
            box-shadow: none;
            max-height: initial !important;
            padding: 25px;
            position: absolute;
            top: 54px;
            width: 100%;
            z-index: 5;
            overflow: visible !important;

            ul {
                padding: 0;
                position: absolute;
                top: 0;
                right: 40px;
                width:100%;
            }
            li {
                text-align: left;
                font-size: 20px;
                padding-left: 20px;
                list-style: none;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: flex-start;
                font-family: 'assistantbold';
                text-transform: uppercase;
            }
        }
    }
}

html .navbar {
    @media screen and (max-width: $tablet - 1px){
        width: 100% !important;
        right: initial !important;

        &.is-fixed-top {
            position: static;
            padding: 0 !important;
        }
    }
}

html .navbar, html .navbar-anim {
    align-items: center;

    &-start {
        @media screen and (min-width: $tablet - 1px){
            position: fixed;
            z-index: 50;
            top: 30px;
            left: 223px;
        }
    }

    .navbar-burger {
        position: fixed;
        left: 14;
        top: 15px;
        z-index: 2;

        span {
            color: #007dfa;
        }
        &:hover {
            background: none;
        }
    }

    &.is-transparent {
        background: transparent;
    }
    &-item {
        font-size: 1.3rem;
        font-family: 'assistantbold';
    }
    &-brand {
        @media screen and (max-width: $tablet - 1px){
            justify-content: center;
            padding-left: 0 !important;
            align-items: initial !important;

            &.mainBrand {
                .navbar-item {
                    position:static;
                    top:0;
                    left:0;
                    width: auto;
                    margin: 0 auto;
                    > a, > div {
                        text-align: center;
                        margin: 0 auto;
                        position: static !important;
                        top: 3px;
                    }

                    // > div {
                    //     > a {
                    //         position: absolute !important;
                    //         top:0;
                    //         left:0;
                    //     }
                    // }
                }
            }

            .react-reveal {
                padding-right: 0;
                text-align: center;
                margin: 0 auto;
                transform: translateX(50%) translateZ(0) !important;
                position: fixed;
                width: 100%;
                left:0;

                > div {
                    transform: none !important;
                }
            }

            .navbar-item {
                width: 100%;
            }

            .onFirstBaseline {
                font-family: 'assistantBold';
                color: #fff;
                font-size:14px;
                display: block;
                text-align: center;
                position: relative;
                top: -6px;
            }

            .mainLogo {
                height: 30px !important;
                width: 30px !important;
            }
        }
        img {
            max-height: initial !important;
            width: 55% !important;
            @media screen and (max-width: $tablet - 1px){
                width: 30% !important;
            }
        }
    }

    .react-reveal {
        @media screen and (max-width: $tablet - 1px){
            z-index: -1;
        }

        @media screen and (min-width: $tablet - 1px){
            opacity: 1 !important;
        }
    }

    &-menu, &-customMenu{


        @media screen and (min-width: $tablet - 1px){
        }

        @media screen and (max-width: $tablet - 1px){
            display: block;
            width: auto;
            padding: 0;
            z-index: 3;
            background: none;
            right: 0;
            box-shadow: none;
            max-height: initial !important;
            padding: 25px;
            position: absolute;
            top: 100px;
            width: 100%;
            z-index: 5;
            overflow: visible !important;

            ul {
                padding: 0;
                position: absolute;
                top: 0;
                right: 40px;
                width:100%;
            }
            li {
                text-align: left;
                font-size: 22px;
                padding-right: 0;
                list-style: none;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: flex-end;
            }
        }
    }
}

html {
    .columns.is-multiline {
        @media screen and (max-width: $tablet - 1px){
            padding-top: 0 !important;

        }
    }
    .logoComs {
        .columns.is-multiline {
            @media screen and (max-width: $tablet - 1px){
                display: flex;
            }
            .column {
                @media screen and (max-width: $tablet - 1px){
                    flex-basis: initial;
                    padding-top: 25px;
                    padding-right: 0;
                    padding-left: 0;
                    width: 50%;
                    min-width: initial;
                }
            }
        }
    }
    .section{
        &.is-large{
            padding: 2rem 1.5rem;
            @media screen and (max-width: $tablet - 1px){
                padding: 2rem 24px;
            }
        }

        &.is-medium {
            padding: 5rem 1.5rem;
            @media screen and (max-width: $tablet - 1px){
                padding: 3rem 24px;
            }
        }

        .column.is-2 {
            min-width: 180px;
        }
    }
    .title {
        &--large {
            text-transform: initial;
            font-size:4.2rem;
            font-family: 'assistantBold';
            &.is-1 {
                font-size: 2.3rem;
            }
        }
    }

    .i-home {
        height: auto !important;
        width: auto !important;
    }

    .title {
        &.upper-home {
            text-transform: initial;
            font-family: 'assistantBold';
            &.is-1 {
                color: #FF2D00;
            }
            &-margin {
                margin-top: 15px;
            }
        }
    }

    .neutral {
        background-color: $neutral;
    }

    .react-tiger-transition--screen {
        display: block !important;
        overflow: hidden !important;
    }

    .react-tiger-transition--route {
        position: static !important;
    }
    .footer {
        background: transparent;
        strong {
            font-family: 'assistantBold';
            color: #11387A;
            font-size:19px;
            letter-spacing:0.5px;
        }
        a {
            font-weight: bold;
            font-family: 'assistantBold';
            color: #11387A;
        }

        p {
            font-family: 'assistantRegular';
            color: #11387A;
        }
    }
    .contact-fl {
        @media screen and (max-width: $tablet - 1px){
            display: flex;
            flex-wrap: wrap !important;
        }

        .column {
            flex-basis: unset;

            &:first-child {
                @media screen and (max-width: $tablet - 1px){
                    order: 2
                }
            }

            &:last-child {
                @media screen and (max-width: $tablet - 1px){
                    order: 1
                }
            }
        }
    }

    .mainFooterLogo {
        padding-bottom: 10px;
    }
}

.onFirstBaseline {
    font-family: 'assistantBold';
    color: #fff;
    font-size:14px;
    display: block;
    text-align: center;
    position: relative;
}
// .mainLogo {
//     position:absolute;
// }
.mainBrand {
    padding-left: 25px;
    .mainLogo {
        height: 46px;
    }
    a {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.logoFirst {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

.neutral {
    &.logoPartner {
        img {
            @media screen and (max-width: $tablet - 1px){
                max-width:120px;
                margin: 0 auto;
            }
        }
    }
}

html {
    .rsc-ts-user {
        .rsc-ts-bubble {
            background: #ffffff !important;
            color:#333 !important;
        }
    }
    .rsc-header {
        background: #FF2D00;
    }

    .imageW img {
        @media screen and (max-width: $tablet - 1px){
            max-width: 78%;
            margin: 0 auto;
        }
    }
}

.businessCard {
    width:100%;
    max-width: 620px;
    display: block;
    margin: 0 auto;
}
// 4. Setup your Custom Colors
$primary2: $pink;
$whitey: #ffffff;
$primary-invert2: findColorInvert($primary2);
// 5. Add new color variables to the color map.
// 4. Setup your Custom Colors
$linkedin: #0077B5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #11387A;
$twitter-invert: findColorInvert($twitter);
$github: #222222;
$github-invert: findColorInvert($github);

// $gold:#D1A917;
$gold:#0C4DBD;
$gold-invert: findColorInvert($twitter);
// Add new color variables to the color map.
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert),
  "gold": ($gold, $gold-invert)
);

$colors: map-merge($colors, $addColors);
@import "../../node_modules/bulma";
